@font-face {
    font-family: "ArmyBeans";
    src: url("../fonts/army_beans/armybeans.ttf");
}

.menu_movil{
    text-align: center;
}

.menu_movil a{
    padding: 0;
    font-family: "ArmyBeans", normal;
    font-size: 300%;
    display: inherit;
}