@font-face {
    font-family: "ArmyBeans";
    src: url("../fonts/army_beans/armybeans.ttf");
}

@font-face {
    font-family: "JointByPizzaDude";
    src: url("../fonts/JointByPizzaDude.ttf");
}

.menu_movil, .menu_tablet_pc{
    text-align: center;
}

.menu_movil a, .menu_tablet_pc a{
    color: #024059;
    font-family: "JointByPizzaDude", normal;
    font-size: 250%;
}

.menu_movil a:hover, .menu_tablet_pc a:hover{
    color:#CC7D1D;
    text-decoration:none;
}

.menu_movil a{
    display: inherit;
}

.menu_tablet_pc a{
    font-size: 200%;
    padding: 0 2.7%;
}
